body {		
	padding: 50px;
	background: white;
	color: black;
}

h1 {
	font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#cam {
	display: block;
	width: 640px;
	height: 480px;
	margin: 0 auto;
	border: 1px solid #000;
}

#buttons {
	display: none;
	margin: 20px auto;
	width: 400px;
}

#retry, #send {
	display: none;
}

#buttons button {
	margin: 0 20px;
	padding: 10px 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.color-box {
	position: absolute;
	border: 1px solid #000;
	width: 30px;
	height: 30px;
	left: 20px;
}

#box1 {
	top: 20px;
}

#box2 {
	top: 70px;
}

#box3 {
	top: 120px;
}

#box4 {
	top: 170px;
}
